/* Gotham Fonts */
@font-face {
  font-family: "GothamFonts";
  src: url("~/assets/fonts/Gotham-Font/GothamLight.ttf") format("truetype");
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}
