/* Gotham Fonts */
@font-face {
  font-family: "GothamThin";
  src: url("~/assets/fonts/Gotham-Font/GothamLight.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GothamBold";
  src: url("~/assets/fonts/Gotham-Font/GothamBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "GothamMedium";
  src: url("~/assets/fonts/Gotham-Font/GothamMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
