@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; */

@layer components {
  .label-text {
    @apply font-medium text-slate-500;
  }
  .active {
    @apply bg-emerald-200;
  }
}

.cardFaq {
  background: linear-gradient(
    210deg,
    rgba(255, 255, 255, 0.48) 1.44%,
    rgba(255, 255, 255, 0.18) 52.73%,
    rgba(255, 255, 255, 0.6) 98.94%
  );
  border-radius: 50px;
}

.shadow-effect {
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.4);
}

.shadow-effect-video {
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.4);
}

.shadow-smallcard {
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.9);
}
